.conta {
    padding-top: 220px!important;
    background: #0b0b0b;
    height: 100vh;
}

.posicao {
    left: auto;
    right: auto;
    width: 100%;
}

.cor {
    color: #dd4343;
    font-size: 12px;
}

.by {
    float: left;
    display: block;
}